* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5e6ec !important;
}

#home {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 50px;
    background: #d5e6ec;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);

}

.navbar {
    background-color: #d5e6ec;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link {
    transition: color 0.3s ease, transform 0.3s ease; 
    /* Adding transition for smooth color and transform change */
}

.nav-link:hover, .navbar .nav-link.active {
    color:#0c9ccb !important; /* Change the color to blue on hover */
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home--description {
    margin-left: 20px;
}

.profile--img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgb(7, 229, 229);
}

@media (max-width: 767.98px) {
    #home {
        margin-top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

.social-links a {
    font-size: 30px;
    display: inline-block;
    color: #6C757D;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    
}

.social-links .fab:hover{
    color:#0c9ccb !important; /* Change the color to blue on hover */
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}

.contact-btn {
    color: #6C757D;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #d5e6ec;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contact-btn:hover {
    color: #0c9ccb;
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}
  
.contact-btn:active {
    color: #0c9ccb;
    -webkit-box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

bi {
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5e6ec !important;
    height: auto;
}

.navbar {
    background-color: #d5e6ec;
}

.nav-link {
    transition: color 0.3s ease, transform 0.3s ease; 
    /* Adding transition for smooth color and transform change */
}

.nav-link:hover, .navbar .nav-link.active {
    color:#0c9ccb !important; /* Change the color to blue on hover */
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}

#home {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background: #d5e6ec;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
            -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
}

.home--description {
    margin-left: 20px;
}

.home--description h1, .about--details-1 h3 {
    font-size: 24px; 
}

.profile--img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(7, 229, 229);
    object-fit: cover;
}



.social-links a {
    font-size: 30px;
    display: inline-block;
    color: #6C757D;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    
}

.social-links .fab:hover{
    color:#0c9ccb !important; /* Change the color to blue on hover */
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}

.contact-btn {
    color: #6C757D;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #d5e6ec;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contact-btn:hover {
    color: #0c9ccb;
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #ffffff;
}
  
.contact-btn:active {
    color: #0c9ccb;
    -webkit-box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}






@media (max-width: 767.98px) {
    #home {
        height: 100vh;
        flex-wrap: wrap;
        align-items: start;
    }
}